<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:title) ? "#{content_for(:title)} | Rails Tutorial" : "Rails Tutorial" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <%= render 'layouts/rails_default' %>
</head>

<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>

</html>